.hidden{
    display: none;
}

.icon-container{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-day-cards{
    padding-top: .5rem;
}

.forecast-header{
    padding-top: 1rem;
}

card {
    padding: .5rem;
    border: 1px solid black;
    margin: .5rem;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}